body {
    background: white;
}
p {
    color: black;
}
h1 {
    font-weight: bold;
}

table{
    border-color: #000000;
}

.table-project{
    background: #f0f0f0;
}

.table-assessment{
    background: #f2f0f0;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}
