body {
    background: white;
}
p {
    color: black;
}
h1 {
    font-weight: bold;
}

.table-project{
    background: #6e6c6c;
}

.table-assessment{
    background: #706e6e;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

td, th {
    border: 1px solid rgb(0,0,0);
    
}
table {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}
